/* line 5, D:/sfotware/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/sfotware/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/sfotware/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/sfotware/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/sfotware/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/sfotware/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/sfotware/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/sfotware/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/sfotware/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot?200299");
  src: url("../fonts/iconfont.eot?#iefix200299") format("embedded-opentype"), url("../fonts/iconfont.woff?200299") format("woff"), url("../fonts/iconfont.ttf?200299") format("truetype"), url("../fonts/iconfont.svg?200299#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  text-align: center;
}

/* line 34, ../sass/style.scss */
.hero {
  max-height: 100em;
  margin: 0 auto;
  background: url("/images/find-an-agent-hero.png");
  background-size: cover;
  color: white;
}
/* line 40, ../sass/style.scss */
.hero header {
  /*clear:both;*/
}
/* line 41, ../sass/style.scss */
.hero header img {
  width: 8em;
  height: 2em;
  float: left;
  margin: 1em 2em;
}
/* line 47, ../sass/style.scss */
.hero header ul {
  float: right;
}
/* line 49, ../sass/style.scss */
.hero header ul li {
  float: left;
  margin: 1em .5em;
  padding: .5em 1em;
  border: 1px solid transparent;
}
/* line 54, ../sass/style.scss */
.hero header ul li:last-child {
  border: 1px solid white;
}
/* line 20, ../sass/style.scss */
.hero header:before, .hero header:after {
  content: " ";
  display: table;
}
/* line 25, ../sass/style.scss */
.hero header:after {
  clear: both;
}
/* line 61, ../sass/style.scss */
.hero h1 {
  font-weight: bold;
  font-size: 4em;
  padding: 3em 0 .5em 0;
}
/* line 66, ../sass/style.scss */
.hero h2 {
  font-size: 2em;
  padding: 1em 0 1em 0;
  color: #d9dada;
}
/* line 71, ../sass/style.scss */
.hero form {
  padding: 1.25em 0 12em 0;
}
/* line 73, ../sass/style.scss */
.hero form input[type="text"] {
  padding: 1em;
  border: 0;
  width: 18em;
  border-radius: 2px 0 0 2px;
  background: #fff;
  opacity: .3;
}
/* line 81, ../sass/style.scss */
.hero form input[type="button"] {
  color: white;
  padding: 1em;
  border: 0;
  width: 6em;
  border-radius: 0 2px 2px 0;
  background-color: lightgreen;
  text-transform: uppercase;
}

/* line 93, ../sass/style.scss */
.numbers {
  width: 80%;
  margin: 0 auto;
}
/* line 96, ../sass/style.scss */
.numbers ul {
  position: relative;
  top: -4em;
  background: #fff;
  /*clear:both;*/
}
/* line 100, ../sass/style.scss */
.numbers ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-top: 1px solid #D9DADA;
  border-bottom: 1px solid #D9DADA;
  border-left: 1px solid #D9DADA;
}
/* line 108, ../sass/style.scss */
.numbers ul:last-child {
  border-right: 1px solid #D9DADA;
}
/* line 111, ../sass/style.scss */
.numbers ul h2 {
  font-size: 2em;
  font-weight: bold;
  padding: 1em 0;
}
/* line 116, ../sass/style.scss */
.numbers ul h3 {
  font-size: 1.25em;
  padding: 0 0 2em 0;
}
/* line 20, ../sass/style.scss */
.numbers ul:before, .numbers ul:after {
  content: " ";
  display: table;
}
/* line 25, ../sass/style.scss */
.numbers ul:after {
  clear: both;
}

/* line 124, ../sass/style.scss */
.how-it-works {
  width: 80%;
  margin: 2em auto;
}
/* line 127, ../sass/style.scss */
.how-it-works h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #2f2f2f;
  padding: 1em;
}
/* line 132, ../sass/style.scss */
.how-it-works h2:after {
  display: block;
  content: "";
  background-color: #D9DADA;
  width: 4em;
  height: .2em;
  margin: .5em auto;
}
/* line 141, ../sass/style.scss */
.how-it-works h3 {
  font-size: 2em;
  color: #2f2f2f;
  padding: 1em 0;
}
/* line 147, ../sass/style.scss */
.how-it-works li {
  float: left;
  width: 33.3%;
  position: relative;
}
/* line 151, ../sass/style.scss */
.how-it-works li:before {
  display: block;
  content: "";
  background: #D9DADA;
  width: 80%;
  height: 2px;
  position: absolute;
  top: 5em;
  left: 60%;
}
/* line 161, ../sass/style.scss */
.how-it-works li:last-child:before {
  display: none;
}
/* line 165, ../sass/style.scss */
.how-it-works .number {
  font-size: 2em;
  color: #D9DADA;
  border: 2px solid #D9DADA;
  width: 2em;
  height: 2em;
  display: block;
  margin: 1em auto 2em auto;
  padding: .4em;
  /*border-radius: 100%;*/
  border-radius: 100%;
  background-color: #fff;
  line-height: 2em;
  text-align: center;
  align-content: center;
}
/* line 181, ../sass/style.scss */
.how-it-works i {
  font-size: 3.6em;
  margin-bottom: .5em;
}
/* line 185, ../sass/style.scss */
.how-it-works .icon-list,
.how-it-works .fa-address-card-o {
  color: #ECA95A;
}
/* line 189, ../sass/style.scss */
.how-it-works .icon-pencil,
.how-it-works .fa-pencil {
  color: #AC9CD2;
}
/* line 193, ../sass/style.scss */
.how-it-works .icon-users,
.how-it-works .fa-users {
  color: #4D99CB;
}
/* line 197, ../sass/style.scss */
.how-it-works p {
  font-size: 1.2em;
  width: 80%;
  text-align: center;
  padding: 0 1em;
  margin: 0 auto;
  color: #6e6e6e;
}
/* line 205, ../sass/style.scss */
.how-it-works p::before {
  content: "";
  display: block;
  color: #6e6e6e;
}
